<html>
    <head>
        <title><%= title %></title>
        
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/user-sign-in.css">  
        <link rel="stylesheet" href="/css/user-sign-up.css"> 
        <link rel="stylesheet" href="/css/home.css">  

        



        <%- style %>    
    </head>
    
    <body>
        <%- include('_header'); %>
        
        <main id="layout-main">
            <%- body %>
        </main>

        <%- include('_footer'); %>


        <%- script %>
        <script src="/js/user-sign-in.js"></script>
        <script src="/js/user-sign-up.js"></script>

    </body>
</html>